@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

/*
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
*/

/*Eric Meyers CSS Reset*/

/* ========== CUSTOM CSS ========== */

body {
  margin: 0;
    font-family: "Inconsolata", monospace !important;
    text-transform: uppercase;
    background-color: #0d0e12;
    color: #828282;
    letter-spacing: 2px;
    min-height: 100vh;
  
    /* box-shadow: 0 0 100px rgba(0,0,0,0.2) inset; */
  }
  
  /* COMMON */
  #app {
    padding-top: 20px;
    min-height: calc(100vh - 60px - 20px);
  }
  
  .container {
    max-width: 100%;
    width: 100% !important;
    padding: 0 !important;
    min-height: 89vh;
  }
  
  nav,
  #project div,
  #dashboard {
    margin-bottom: 20px;
  }
  
  *:hover {
    transition: 0.2s;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #FFF;
  }

  a {
    color: #828282;
  }
  
  .button {
    display: inline-block;
    padding: 10px;
    background-color: rgb(208, 87, 87);
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #ad2f2f;
    text-transform: uppercase;
  }
  
  .button:hover {
    text-decoration: none;
    color: #FFF;
    background-color: rgb(143, 59, 59);
  }
  
  /* HEADER */
  header {
    text-align: center;
  }
  
  #header-image-container, header h1 {
    width: 100%;
    display: inline-block;
  }

  #header-image-mobile{ display: none; }
  #header-image-desktop{ display: inline-block; }
  
  #header-image-container img {
    width: 80px;
    opacity: 0.9;
  }
  
  /* NAVIGATION */
  #desktop { display: block; }
  #mobile { display: none; }

  nav {
    width: 100%;
    text-align: center;
  }
  
  nav ul {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 10px auto;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0 5px;
  }
  
  nav ul li a {
    color: #828282;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #F00;
    font-weight: bold;
    text-decoration: none;
    transition: 0s;
  }
  
  hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 0 auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #000;
  }
  
  /* LOGIN */
  form {
    letter-spacing: normal;
  }
  
  form .card-header {
    font-weight: bold !important;
  }

  /* GALLERY */
  #gallery {
    overflow: auto;
    position: relative;
    width: 100%;
  }
  
  #gallery a {
    color: #FFF;
    /* line-height: 1; */
    font-size: 90%;
  }
  
  .gallery-project {
    width: 33.3333%;
    float: left;
  }
  
  .gallery-project {
    position: relative;
    text-align: center;
  }
  
  .gallery-project-title {
    position: absolute;
    width: 80%;
    height: 21%;
    padding: 60% 10%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
  }
  
  .gallery-project-title:hover {
    /* transition: 0.1s; */
    opacity: 1;
  }
  
  .gallery-project img {
    z-index: 0;
    width: 100%;
    opacity: 0.9;
  }
  
  /* PROJECT */
  .print-shadow {
    -webkit-box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.2);
    box-shadow: 0px 13px 20px -2px rgba(0,0,0,0.2);
  }
  
  #project {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  #project-title h2 {
    padding-top: 30px;
    font-weight: bold;
  }

  #project-signature-mobile{ display: none; }
  #project-signature-desktop{ display: inline-block; }
  
  #project-signature img {
    width: 60px;
  }
  
  #project-cart {
    overflow: auto;
  }
  
  #project-image img {
    width: calc(100% - 40px);
    border: 20px solid #FFF;
  }

  #project-description {
    max-width: 600px;
    line-height: 1.5;
    display: inline-block;
  }
  
  #project-print-details {
    text-align: left;
    line-height: normal;
    float: left;
  }
  
  #project-print-details p:first-child {
    font-weight: bold;
    /* display: inline-block; */
    /* width: auto; */
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
  }
  
  #project-add-to-cart {
    float: right;
  }
  
  /* DASHBOARD */
  #dashboard {
    width: 100%;
  }
  
  #dashboard a {
    font-weight: bold;
    color: #000;
  }
  
  #dashboard tr {
    width: calc(100% - 10px);
    border-bottom: 1px solid #AAA;
  }
  
  #dashboard tr a {
    line-height: 50px;
  }
  
  #dashboard thead tr {
    border-bottom: none;
  }
  
  #dashboard tr:hover {
    background-color: #ECE3E3;
  }
  
  #dashboard thead tr:hover {
    background-color: transparent;
  }
  
  .dashboard-title {
    width: calc(100% - 160px);
  }
  
  .dashboard-edit,
  .dashboard-delete {
    text-align: right;
    width: 30px;
  }
  
  .dashboard-delete input {
    /* color: #F00; */
    border: none;
    font-size: 170%;
    background: none;
    cursor: pointer;
  }
  
  /* ABOUT */
#about {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}

  #about p {
    text-transform: none;
    letter-spacing: normal;
    margin-bottom: 0;
  }
  
  /* FOOTER */
  footer {
    text-align: center;
    clear: both;
    /* margin-top: 50px; */
    width: 100vw;
    font-size: 80%;
    background-color: #000;
  }
  
  footer .container {
    min-height: 0;
  }
  
  footer, footer a {
    color: #505050;
  }
  
  footer a:hover {
    color: rgb(85, 85, 85);
    text-decoration: none;
  }
  
  footer p {
    padding: 20px;
    height: 20px;
    margin: 0;
  }
  
  /* MEDIA QUERIES */
  @media only screen and (max-width: 1200px) {

    .gallery-project {
      width: 33.3333%;
    }    
  }

  @media only screen and (max-width: 800px) {
  
    body {
      background-color: #0d0e12;
      color: #828282;
    }

    h1 {
      color: #FFF;
    }

    h2 {
      color: #FFF;
    }

    a {
      color: #828282;
    }

    #header-image-mobile{ display: inline-block; }
    #header-image-desktop{ display: none; }

    nav ul li a {
      color: #828282;
    }

    .gallery-project {
      width: 50%;
    }

    #project {
      width: 90%;
      text-align: left;
    }

    #project-signature-mobile{ display: inline-block; }
    #project-signature-desktop{ display: none; }

    #project-image img {
      width: calc(100% - 20px);
      border: 10px solid #FFF;
    }

    h2 {
      font-size: 120% !important;
    }

    #about p {
      text-align: left;
      padding: 10px;
    }

    footer {
      background-color: #000;
    }

    footer, footer a {
      color: #505050;
    }
  }
  
  @media only screen and (max-width: 480px) {

    header h1 {
      font-size: 16px;
    }
  
    .gallery-project {
      width: 100%;
    }

    .gallery-project {
      /* margin-bottom: 20px; */
    }
  }